main {
    display: flex;
    place-items: center;
    place-content: center;
    height: 100vh;
    padding: 20px;
}
.text-container {
    display: grid;
    gap: 30px;
}
header {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 40px 1fr;
    align-items: center;
    justify-items: center;
}
.text-container textarea {
    resize: none;
}
.text-container .fromText textarea {
    width: 100%;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    padding: 15px;
    font-size: 1.5rem;
}
.text-container .toText textarea {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 1.5rem;
}
.text-container .fromText textarea:focus {
    outline: none;
}
.swap-languages {
    background: none;
    background-image: url('./assets/img/swap.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.swap-languages:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.translator {
    width: 100%;
    max-width: 1200px;
}
@media (min-width: 768px) {
    .text-container {
        grid-template-columns: 1fr 1fr;
    }
    header {
        justify-items: baseline;
    }
}